.adminListContainer {
  max-height: 300px;
  overflow-y: auto;
}

.adminItem {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  font-size: 14px;
  font-weight: bold;
}
