.title {
  color: var(--color-gray-800, #252a32);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}

.checkboxText {
  color: var(--color-gray-600, #4e535f);

  /* Web/body2/400 */
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 153.333% */
}

.feedbackText {
  min-height: 80px;
  color: var(--color-gray-400, #252a32);

  /* Web/body2/400 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 153.333% */
}
